<div class="tab-list" role="tablist">
	<div hx-get="/tab1" class="border-bottom" role="tab" aria-selected="false" aria-controls="tab-content">Analisador Léxico</div>
	<div hx-get="/tab2" role="tab" class="selected"  aria-selected="false" aria-controls="tab-content">Analisador Sintático</div>
	<div hx-get="/tab3" class="border-bottom" role="tab" aria-selected="false" aria-controls="tab-content">Tab 3</div>
</div>
<br>
<br>
<div id="tab-content" role="tabpanel" class="tab-content">
Tab 2 :)
</div>
