<div class="tab-list" role="tablist">
	<div hx-get="/tab1" class="border-bottom" role="tab" aria-selected="false" aria-controls="tab-content">Analisador Léxico</div>
	<div hx-get="/tab2" class="border-bottom" role="tab"   aria-selected="false" aria-controls="tab-content">Analisador Sintático</div>
	<div hx-get="/tab3" class="selected"  role="tab" aria-selected="false" aria-controls="tab-content">Compilador</div>
</div>
<br>
<br>
<div id="tab-content" role="tabpanel" class="tab-content">
    <form id="myForm" hx-post="/compile" hx-ext="json-enc">
        <select style="display: none;" name="mode" id="mode">
            <option value="html">Ver Formatado</option>
        </select>
        <textarea name="code_text" id="code_text" rows="5" cols="40" maxlength="2500" >fn main() {
   if (x<=10){
      x = 10+32;
   };
}</textarea>
        <button type="submit">Enviar</button>
    </form>
    <div style="visibility: hidden;" id="result" hx-target="#result" hx-swap="outerHTML"></div>
</div>
