<a style="margin-bottom: 50px;" href="."><< Voltar</a>
<p></p>
{% for token in tokens %}
<div id="result">
    <h5><strong>Token</strong></h5>
    <p><strong>Value: {{ token.value }}</strong></p>
    <p><strong>Lexeme: <code>{{ token.lexeme }}</code></strong></p>
    <p><strong>Line: <code>{{ token.line }}</code></strong></p>
    <p><strong>Start Index: <code>{{ token.initial_position }}</code></strong></p>
    <p><strong>Final Index: <code>{{ token.final_position }}</code></strong></p>
</div>
{% endfor %}
